.button {
    background: $blue;
    color: white;
    border: none;
    font-size: $font-large;
    padding: $md-u $lg-u;
    font-weight: 200;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    display: inline-block;
    text-decoration: none;
    line-height: 1;
}

.button:hover {
    background: darken($blue, 10%);
}

.button--link {
    background: none;
}

.button--link:hover {
    background: none;
    color: darken(white, 15%);
}

.button--secondary {
    background: #888;
}

.button--secondary:hover {
    background: darken(#888, 10%);
}