// Colors
$dark-grey: #333;
$grey: #666;
$blue: #1c88bf;
$dark-blue: #364051;
$off-white: #f7f7f7;

// Font Sizes
$font-large: 18px;
$font-small: 14px;

// Spacing
$sm-u: 8px;
$md-u: 16px;
$lg-u: 32px;
$xl-u: 48px;
$desktop-breakpoint: 720px;